<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>763197756133-2qt9n7vos9er19or11naoqnfgf33qt9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763197756133-2qt9n7vos9er19or11naoqnfgf33qt9l</string>
	<key>API_KEY</key>
	<string>AIzaSyDWFJAfIVty22NW5Z949iFFaJ7BS5I5FRU</string>
	<key>GCM_SENDER_ID</key>
	<string>763197756133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.waxnation.waxnation</string>
	<key>PROJECT_ID</key>
	<string>waxnation-97f11</string>
	<key>STORAGE_BUCKET</key>
	<string>waxnation-97f11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:763197756133:ios:c2913ab3279cdc74</string>
	<key>DATABASE_URL</key>
	<string>https://waxnation-97f11.firebaseio.com</string>
</dict>
</plist>
